header {
  width: 100%;
  position: absolute;
  z-index: 2;
  overflow-x: hidden;

  .header__wrappers {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
  }
}
