header {
  width: 100%;
  height: 140px;
  position: absolute;
  z-index: 2;

  .header__wrappers {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
  }
}
