nav {
  color: var(--text-color);
  font-weight: 500;
  width: 60%;

  @include min-1024 {
    width: auto;
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    background-color: var(--main-color);
    opacity: 0.95;
    height: 100vh;
    width: 60%;
    transform: translateX(300%);
    transition: transform 0.5s ease-in-out;
    text-align: center;
    position: fixed;
    

    @include min-1024 {
      width: 300px;
      position: inherit;
      list-style-type: none;
      display: flex;
      flex-direction: inherit;
      box-shadow: none;
      transform: translateX(0);
      margin-right: 0;
      padding-right: 0;
      padding-top: 0px;
      justify-content: space-around;
      transition: none;
      height: auto;
      background-color: inherit;
    }

    li {
      font-size: 32px;
      margin-bottom: 20px;

      @include min-1024 {
        font-size: 20px;
      }
      @include min-1440 {
        font-size: 24px;
      }

      a {
        position: relative;
        padding-bottom: 2px;

        @include min-1024 {
          padding-bottom: 5px;
        }
      }

      a:before {
        content: "";
        bottom: 0;
        left: 0;
        position: absolute;
        height: 4px;
        width: 100%;
        background-color: var(--secondary-color);
        border-radius: 4px;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }

      a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
  }

  .nav__burgerContainer {
    @include min-1024 {
      display: none;
    }
  }
}
