nav {
  text-align: center;
  height: 10vh;
  color: var(--text-color);
  font-size: 24px;
  font-weight: 500;
  display: grid;
  align-content: center;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
