nav {
  color: var(--text-color);
  font-weight: 500;
  width: 60%;

  @include min-1024 {
    width: auto;
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    background-color: var(--main-color);
    height: 100vh;
    width: auto;
    transform: translateX(150%);
    transition: transform 0.5s ease-in-out;
    text-align: center;



    @include min-1024 {
      width: 400px;
      list-style-type: none;
      display: flex;
      flex-direction: inherit;
      box-shadow: none;
      transform: translateX(0);
      margin-right: 0;
      padding-right: 0;
      padding-top: 0px;
      justify-content: space-around;
      transition: none;
      height: auto;
      background-color: inherit;
    }

    li {
      font-size: 32px;
      margin-bottom: 20px;
      @include min-1024 {
        font-size: 20px;
      }
      @include min-1440 {
        font-size: 24px;
      }
    }
  }

  .nav__burgerContainer {
    @include min-1024 {
      display: none;
    }
  }
}
