@import url(./_card.scss);
@import url(./_header.scss);
@import url(./_hero.scss);
@import url(./_nav.scss);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
}

:root {
	--main-color: #3aafa9;
	--secondary-color: #2b7a78;
	--text-color: #def2f1;
}

.container {
	background-color: grey;
}
